@charset "UTF-8";
* {
  margin: 0;
  padding: 0; }

/* General*/
body {
  font-family: 'Cinzel', serif;
  color: black;
  background-color: white; }

header {
  text-align: center;
  background-repeat: no-repeat; }
  header .navbar {
    margin: 10px;
    letter-spacing: 1px; }
  header .text-center {
    color: white;
    font-family: 'Great Vibes', cursive;
    font-size: 200px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
  header .carousel-item {
    width: 100%;
    height: 500px; }

/*Cuerpo index principal*/
main {
  /*Map*/
  /*Extend*/ }
  main .bienvenida {
    background-color: #252424;
    color: white; }
  main .bienvenida {
    text-align: center;
    margin: 1rem;
    padding: 1rem;
    border-radius: 5px;
    letter-spacing: 1px;
    line-height: 30px; }
  main .contenedor {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr); }
  main .platos, main .platos .rese単as {
    text-align: center;
    letter-spacing: 1px;
    line-height: 20px;
    margin: 0.5rem;
    padding: 0.5rem; }
  main .rese単as {
    grid-column-start: 2;
    grid-row-end: -1;
    text-align: center;
    margin-right: 1rem; }
  main .imgCentral {
    width: 100%;
    height: 500px;
    border-radius: 5px; }

/*Sobre nosotros*/
main .contenedor1 {
  display: grid;
  grid-template-rows: repeat(2, auto);
  text-align: center;
  font-size: 25px; }

main .contenedor1 h1 {
  margin-top: 2rem;
  margin-bottom: 2rem; }

main .historia {
  font-size: 20px;
  margin-top: 3rem;
  margin-left: 1rem;
  line-height: 35px; }

main .historia h2 {
  text-align: left;
  margin: 1rem; }

main .historia img {
  width: 500px;
  float: left; }

main .historia2 {
  font-size: 20px;
  margin-top: 3rem;
  margin-right: 1rem;
  margin-bottom: 5rem;
  line-height: 35px; }

main .historia2 h2 {
  text-align: right;
  margin: 1rem; }

main .historia2 img {
  width: 500px;
  float: right; }

main {
  /*Rervaciones*/ }
  main .reservaTitulo {
    background-color: #252424;
    border-radius: 5px;
    color: white;
    margin: 1rem;
    padding: 1rem;
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 4rem;
    font-size: 23px; }
  main .reserva {
    font-size: 20px;
    letter-spacing: 1px;
    line-height: 25px;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-bottom: 3rem;
    border-style: solid; }
  main .texto2 {
    margin-left: 1rem;
    margin-bottom: 10px;
    letter-spacing: 1px; }

main .cuerpo {
  margin: 0.5rem;
  padding: 0.5rem; }

main .carta {
  background-color: #252424;
  border-radius: 5px;
  color: white;
  margin: 1rem;
  padding: 1rem;
  text-align: center;
  letter-spacing: 1px;
  line-height: 25px;
  font-size: 20px;
  margin-bottom: 5rem; }

main .contenedorCarta {
  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: 20px;
  text-align: center;
  margin-bottom: 5rem; }

main .carta1 {
  background-color: #252424;
  border-radius: 5px;
  color: white;
  margin: 1rem;
  padding: 1rem;
  border: 5px #f0df49;
  border-style: groove;
  letter-spacing: 1px;
  line-height: 25px; }

main .carta2 {
  background-color: #252424;
  border-radius: 5px;
  color: white;
  margin: 1rem;
  padding: 1rem;
  grid-column-start: 2;
  grid-row-end: -2;
  border: 5px #f0df49;
  border-style: groove;
  letter-spacing: 1px;
  line-height: 25px; }

main {
  /*Contacto*/
  /*Mixin*/ }
  main .contacto {
    background-color: #252424;
    border-radius: 5px;
    color: white;
    margin: 1rem;
    padding: 1rem;
    letter-spacing: 2px;
    line-height: 25px; }
  main .whatsapp {
    background-color: #239923;
    border-radius: 5px;
    margin: 1rem;
    padding: 1rem;
    color: white; }
  main .instagram {
    background-color: #eb6cba;
    border-radius: 5px;
    margin: 1rem;
    padding: 1rem;
    color: white; }
  main .facebook {
    background-color: #4b69f1;
    border-radius: 5px;
    margin: 1rem;
    padding: 1rem;
    color: white; }

footer {
  background-color: #252424;
  color: white; }

footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  letter-spacing: 1px;
  line-height: 15px; }

.footer-medio {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 45px; }

.footer-img {
  width: 40px;
  height: 40px; }

.footer-detalles {
  text-align: center;
  letter-spacing: 1px;
  line-height: 15px;
  margin: 1rem; }

@media screen and (max-width: 786px) {
  header {
    text-align: center;
    background-repeat: no-repeat; }
  .navbar {
    margin: 10px;
    letter-spacing: 1px; }
  .text-center {
    color: white;
    font-family: 'Great Vibes', cursive;
    font-size: 200px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
  .carousel-item {
    width: 100%;
    height: 500px; }
  /*Cuerpo index principal*/
  .bienvenida {
    text-align: center;
    margin: 1rem;
    padding: 1rem;
    letter-spacing: 1px;
    line-height: 30px; }
  .contenedor {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr); }
  .platos, main .platos .rese単as {
    text-align: center;
    letter-spacing: 1px;
    line-height: 20px;
    margin: 0.5rem;
    padding: 0.5rem;
    letter-spacing: 2px;
    line-height: 20px; }
  .rese単as {
    text-align: center;
    letter-spacing: 1px;
    line-height: 30px;
    grid-column-start: 2;
    grid-row-end: -1;
    margin: 0.5rem;
    padding: 0.5rem; }
  .imgCentral {
    width: 100%;
    height: 500px; }
  /*Sobre nosotros*/
  .contenedor1 {
    display: grid;
    grid-template-rows: repeat(2, auto);
    text-align: center;
    font-size: 25px; }
  .contenedor1 h1 {
    margin-top: 2rem;
    margin-bottom: 2rem; }
  .historia {
    font-size: 20px;
    margin-top: 3rem;
    margin-left: 1rem;
    line-height: 35px; }
  .historia h2 {
    text-align: left;
    margin: 1rem; }
  .historia img {
    width: 500px;
    float: left; }
  .historia2 {
    font-size: 20px;
    margin-top: 3rem;
    margin-right: 1rem;
    margin-bottom: 5rem;
    line-height: 35px; }
  .historia2 h2 {
    text-align: right;
    margin: 1rem; }
  .historia2 img {
    width: 500px;
    float: right; }
  /*Rervaciones*/
  .reservaTitulo {
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 4rem;
    font-size: 23px; }
  .reserva {
    font-size: 20px;
    letter-spacing: 1px;
    line-height: 25px;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-bottom: 3rem;
    border-style: solid; }
  .texto2 {
    margin-left: 1rem;
    margin-bottom: 10px;
    letter-spacing: 1px; }
  /*Carta*/
  .cuerpo {
    margin: 0.5rem;
    padding: 0.5rem; }
  .carta {
    text-align: center;
    letter-spacing: 1px;
    line-height: 25px;
    font-size: 20px;
    margin: 1rem;
    margin-bottom: 5rem; }
  .contenedorCarta {
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: 20px;
    text-align: center;
    margin-bottom: 5rem; }
  .carta1 {
    border: 5px #eee275;
    border-style: groove;
    letter-spacing: 1px;
    line-height: 25px; }
  .carta2 {
    grid-column-start: 2;
    grid-row-end: -2;
    border: 5px #eee275;
    border-style: groove;
    letter-spacing: 1px;
    line-height: 25px; }
  /*Contacto*/
  .contacto {
    margin: 0.5rem;
    padding: 0.5rem;
    letter-spacing: 2px;
    line-height: 25px; }
  /*Footer General*/
  footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background-color: #252424;
    letter-spacing: 1px;
    line-height: 15px; }
  .footer-medio {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    font-size: 45px; }
  .footer-img {
    width: 40px;
    height: 40px; }
  .footer-detalles {
    color: white;
    text-align: center;
    letter-spacing: 1px;
    line-height: 15px;
    margin: 1rem; } }
